---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.astro";
import App from "@/components/App.astro";
---

<Layout lang="en">
  <div id="landing"><Home lang="en" /></div>
  <App lang="en" />
</Layout>
