---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.astro";
import App from "@/components/App.astro";
---

<Layout lang="es">
  <div id="landing"><Home lang="es" /></div>
  <App lang="es" />
</Layout>
